<div class="row" style="margin-top:40px">
    <h1>About</h1>
    <p>This is the Cluster Manager used to configure the whole cluster ox, it contains several tools to manage and controls the cluster. </p>
    <p>The Modules tool lets the user change or update all the Cluster components such as connectors libraries, dictionaries,  etc. </p>
    <p>The Registry tool allows to update a private registry that contains all the images (OS, APPs) to be used inside the cluster, the Units Tool can be used to create and send units that will create and run a complete container with everything inside (OS, APPs and configuration files).
    <p>In addition, it is possible to get metrics regarding the Cluster health as well as info about the System</p>
    <h2>Useful Links</h2>
    <p>The following links refer to core technologies and standards used to build the cluster:</p>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <img src="images/tool-angularjs.png" alt="AngularJS">
                <div class="caption">
                    <h3>AngularJS</h3>
                    <p>AngularJS sits at the core of all development. It is used to separate content from logic through mechanisms like two-way data-binding and a clear MVC pattern.</p>
                    <p><a href="http://angularjs.org/" class="btn btn-primary" role="button">Checkout AngularJS</a> </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <img src="images/tool-yeoman2.png" alt="Yeoman">
                <div class="caption">
                    <h3>YEOMAN</h3>
                    <p>YEOMAN was used to setup the project with all the initial config files. It helps to be productive very quickly.</p>
                    <p><a href="http://yeoman.io" class="btn btn-primary" role="button">Checkout YEOMAN</a> </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <img src="images/tool-grunt.png" alt="Grunt">
                <div class="caption">
                    <h3>Grunt</h3>
                    <p>The Grunt task runner is used to <em>serve</em> the website during development, to <em>test</em> the code,
                        and to <em>build</em> (e.g. minification) the code for deployment.</p>
                    <p><a href="http://gruntjs.com/" class="btn btn-primary" role="button">Checkout Grunt</a> </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <img src="images/tool-bower.png" alt="Bower">
                <div class="caption">
                    <h3>Bower</h3>
                    <p>The Bower package manager is used to manage all the dependencies of the code.</p>
                    <p><a href="http://bower.io/" class="btn btn-primary" role="button">Checkout Bower</a> </p>
                </div>
            </div>
        </div>
    </div>
    </p>

</div>



