
<div class="jumbotron" >
    <h2 style="font-size: 32px;">Welcome, to the Cluster Manager!</h2>
    <p class="lead" style="margin-bottom: 50px; ">Choose an option below to control, update and configure the cluster box.</p>
    <div class="row">
        <div class="col-lg-1"/>
        <div class="col-lg-3">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=1" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-inbox fa-fw "></i> Registry</a></p>
        </div>
        <div class="col-lg-4">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=2" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-th fa-fw "></i> Units</a></p>
        </div>
        <div class="col-lg-3">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=3" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-download fa-fw "></i> Modules</a></p>
        </div>
        <div class="col-lg-1"/>
    </div>
    <div class="row" style="margin-top: 40px">
        <div class="col-lg-1"/>
        <div class="col-lg-3">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=4" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-bar-chart fa-fw "></i> Metrics</a></p>
        </div>
        <div class="col-lg-4">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=5" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-magic fa-fw "></i> Wizard</a></p>
        </div>
        <div class="col-lg-3">
            <p><a class="btn btn-lg btn-primary btn-fix" href="" ng-mouseover="id=6" ng-mouseleave="id=0" ng-click="transit()" role="button"><i class="fa fa-cog fa-fw "></i> System</a></p>
        </div>
        <div class="col-lg-1"/>
    </div>
    <div class="row" style="margin-top: 60px; height:60px">
        <div class="col-lg-1"/>
        <div class="col-lg-10">
            <p class="lead">{{titles[id]}}</p>
        </div>
        <div class="col-lg-1"/>
    </div>
    <div class="row" style="margin-top: 60px">
        <div class="col-lg-1"/>
        <div class="col-lg-10">
            <h4><a href="#">Registry on localhost:5000 - Orchestator on 10.248.32.196:41593 - Revision 1.0</a></h4>
        </div>
        <div class="col-lg-1"/>
    </div>

</div>
