<div class="row" style="margin-top:40px">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">Browse&hellip; <input type="file"></span>
            </span>
            <input type="text" class="form-control" style="width:200px" readonly>
        </div>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-danger" type="button" style="float:right">Transfer files</button>
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-lg-6">
    </div>
</div>


